$body-background-dark: #09090b; // Zinc 950
$body-background-light: #fafafa; // Zinc 50

$body-text-color-dark: #fafafa; // Zinc 50
$body-text-color-light: #171717; // Zinc 900

$components-background-dark: #18181b; // Zinc 900
$components-background-light: #ffffff;

$components-hover-dark: #27272a; // Zinc 800
$components-hover-light: #f4f4f5; // Zinc 100

$black-white-dark: #000000;
$black-white-light: #ffffff;

$border-items-dark: #27272a; // Zinc 800
$border-items-light: #e4e4e7; // Zinc 200

$button-background-dark: #27272a;
$button-background-light: #18181b;

$invert-dark: invert(1);
$invert-light: invert(0);

$sizePicker-disable-background-dark: #3f3f46; // Zinc 700
$sizePicker-disable-background-light: #e4e4e7; // Zinc 200

$sizePicker-disable-text-dark: #a1a1aa; // Zinc 400
$sizePicker-disable-text-light: #a1a1aa; // Zinc 400

$sizePicker-border-hover-dark: #52525b; // Zinc 600
$sizePicker-border-hover-light: #d4d4d8; // Zinc 300

$sizePicker-checked-dark: #18181b;
$sizePicker-checked-light: #27272a;

$heart-background-dark: #27272a;
$heart-background-light: #f4f4f5;

$heart-fill-dark: #fafafa;
$heart-fill-light: #171717;

$filter-button-dark: #27272a;
$filter-button-light: #ffffff;

:root {
  // body background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  // body text color
  --body-text-color-dark: #{$body-text-color-dark};
  --body-text-color-light: #{$body-text-color-light};
  --body-text-color-default: var(#{--body-text-color-light});

  // components background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  // components hover
  --components-hover-dark: #{$components-hover-dark};
  --components-hover-light: #{$components-hover-light};
  --components-hover-default: var(#{--components-hover-light});

  // black-white
  --black-white-dark: #{$black-white-dark};
  --black-white-light: #{$black-white-light};
  --black-white-default: var(#{--black-white-light});

  // border-items
  --border-items-dark: #{$border-items-dark};
  --border-items-light: #{$border-items-light};
  --border-items-default: var(#{--border-items-light});

  // button-background
  --button-background-dark: #{$button-background-dark};
  --button-background-light: #{$button-background-light};
  --button-background-default: var(#{--button-background-light});

  // invert
  --invert-dark: #{$invert-dark};
  --invert-light: #{$invert-light};
  --invert-default: var(#{--invert-light});

  // sizePicker-disable-background
  --sizePicker-disable-background-dark: #{$sizePicker-disable-background-dark};
  --sizePicker-disable-background-light: #{$sizePicker-disable-background-light};
  --sizePicker-disable-background-default: var(#{--sizePicker-disable-background-light});

  // sizePicker-disable-text
  --sizePicker-disable-text-dark: #{$sizePicker-disable-text-dark};
  --sizePicker-disable-text-light: #{$sizePicker-disable-text-light};
  --sizePicker-disable-text-default: var(#{--sizePicker-disable-text-light});

  // sizePicker-border-hover
  --sizePicker-border-hover-dark: #{$sizePicker-border-hover-dark};
  --sizePicker-border-hover-light: #{$sizePicker-border-hover-light};
  --sizePicker-border-hover-default: var(#{--sizePicker-border-hover-light});

  // sizePicker-checked
  --sizePicker-checked-dark: #{$sizePicker-checked-dark};
  --sizePicker-checked-light: #{$sizePicker-checked-light};
  --sizePicker-checked-default: var(#{--sizePicker-checked-light});

  // heart-background
  --heart-background-dark: #{$heart-background-dark};
  --heart-background-light: #{$heart-background-light};
  --heart-background-default: var(#{--heart-background-light});

  // heart-fill
  --heart-fill-dark: #{$heart-fill-dark};
  --heart-fill-light: #{$heart-fill-light};
  --heart-fill-default: var(#{--heart-fill-light});

  // filter-button
  --filter-button-dark: #{$filter-button-dark};
  --filter-button-light: #{$filter-button-light};
  --filter-button-default: var(#{--filter-button-light});
}
