@use "./themeStyle/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

html,
body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(#{--body-text-color-default});
  background-color: var(#{--body-background-default});
}

*,
:after,
:before {
  box-sizing: inherit;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}

html::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(#{--components-hover-dark});
}
